<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordin">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <a class="nav-link" href="@Url.Action("IndexDonhang","Admin")">Đơn Hàng</a>
                <a class="nav-link" href="@Url.Action("IndexSach","Admin")">Sách</a>
                <a class="nav-link" href="@Url.Action("IndexChuDe","Admin")">Chủ Đề</a>
                <a class="nav-link" href="@Url.Action("IndexNXB","Admin")">Nhà Xuất Bản</a>
                <a class="nav-link" href="@Url.Action("DangXuat","User")">Đăng Xuất </a>
            </div>
        </div>
        <div class="sb-sidenav-footer">
            <div class="small">Logged in as:</div>
            Admin
        </div>
    </nav>
</div>
