@model WebBanSachOnline.Models.TacGia

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<div style="margin:10px auto;width:70%;">
    <h2 style="text-align:center">THÊM THÔNG TIN TÁC GIẢ MỚI</h2>

    @using (Html.BeginForm("Create", "Saches", FormMethod.Post, new{@enctype = "multipart/form-data"}))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">

            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                Tên tác giả
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TenTacGia, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TenTacGia, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                Địa chỉ
                <div class="col-md-10">
                    @Html.EditorFor(model => model.DiaChi, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DiaChi, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                Tiểu sử
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TieuSu, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TieuSu, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                Điện thoại
                <div class="col-md-10">
                    @Html.EditorFor(model => model.DienThoai, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DienThoai, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10 mb-3 mt-3">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>
