@model WebBanSachOnline.Models.TacGia

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<div style="margin:10px auto;width:70%">
    <h2 style="text-align:center">THÔNG TIN CHI TIẾT CỦA TÁC GIẢ</h2>
    <div>
       
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Tên tác giả
            </dt>
            <dd>
                @Html.DisplayFor(model => model.TenTacGia)
            </dd>

            <dt>
                Địa chỉ
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DiaChi)
            </dd>

            <dt>
                Tiểu sử
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TieuSu)
            </dd>

           <dt>
               Điện thoại
           </dt>

            <dd>
                @Html.DisplayFor(model => model.DienThoai)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.MaTacGia }, new { @class="btn btn-success"}) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>